@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Exo 2", sans-serif;
}

nav a.active {
  @apply bg-[#e7f6e9] text-green-600;
}

.round1 {
  border-radius: 30px 10px 30px 30px;
}

.round2 {
  border-radius: 30px 30px 30px 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #38a169 !important;
}

.swiper-pagination-bullet-active {
  background: #38a169 !important;
}